CertMailer#cert_expiring

<%= @person.fullname %>, you have a certification that is expiring
<p>
  Created <%= @item_category.created_at %><br/>
Last Modified <%= @item_category.updated_at %><br/> 
Last Editor <%= @last_editor %> 
</p>