<% content_for :sidebar do %>
  <h4>Assignment for:</br> <%= @assignment.requirement %> </br> <%= @assignment.requirement.task %></h4>
  <p id="notice"><%= notice %></p>
<% end %>

<%= render 'edit_form' %>
