<tr>
  <td class="<%= h p.title.downcase.split(" ")[0] %> id"><%= p.memberID %></td>
  <td class="<%= h p.title.downcase.split(" ")[0] %> name">
  <%= p.shortrank + " " + p.lastname %></td>
  <td class= "signature">&nbsp</td>
  <td class= "time">&nbsp</td>
  <td class= "time">&nbsp</td>
</tr>
