<table id="applicants" class="datatable display table table-striped table-bordered" >
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
      	<td><%= link_to person.fullname, person %></td>
      	<td><%= person.department %></td>
      	<td><%= link_to 'Edit', edit_person_path(person), :class => "btn btn-mini" if can? :update, person %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
