<% content_for :sidebar do %>
  <h1>Editing Person</h1>
  <%= link_to 'Cancel', :back, class: 'btn btn-primary', style: 'width: 100%' %><br/><br/>
  <%= image_tag @person.portrait_url if @person.portrait.file.present? %>
<% end %>

<%= render 'form' %>
