<h1>ReadyResponder</h1>

Please see <%= link_to 'http://github.com/ReadyResponder/ReadyResponder', 'http://github.com/ReadyResponder/ReadyResponder' %> for more information.
This page should soon contain more helpful information about using this system.
