<h1>LIMS</h1>
<h3>Local Incident Management System</h3>
Because all incidents are local...
<% if current_user.blank? then %>
  Please <%= link_to 'sign in', new_user_session_path %> to access the system
<% end %>