<% content_for :sidebar do %>
  <%= sidebar_button_link 'Cancel Edit', @requirement.task %>
<% end %>

<span class="h3">Event: <%= link_to @task.event, event_path(@task.event) %></span></br>
<span class="h3">Task: <%= link_to @task, task_path(@task) %></span></br>
<span class="h3"> New Requirement </span></br></br>
<%= render 'form' %>
