<% content_for :sidebar do %>
  <h4>Create a notification <br/>from an Event</h4>
  <%#= sidebar_button_link 'New Notification', new_notification_path %>
<% end %>

<%= render(partial: 'notifications/notifications_table', locals: { notifications: @notifications, title: @page_title }) %>
