<% content_for :sidebar do %>
  <h2>New Notification</h2>
  <%= sidebar_button_link 'Cancel', :back %>
<% end %>

<% if @event.present? %>
  <%= render 'event_form' %>
<% else %>
  <%= render 'form' %>
<% end %>
