<% content_for :sidebar do %>
  <%= link_to 'Return to Listing', users_path, class: 'btn btn-default' %></br></br>
  <%= link_to 'Edit User', edit_user_path(@user), class: 'btn btn-primary' unless cannot? :edit, @user  %></br></br>
<% end %>

<p><h2><%= @user.firstname %><%= @user.lastname %></h2></p>
