<% content_for :sidebar do %>
  <center><h1>Listing Skills</h1></br>
  <%= link_to 'New Skill', new_skill_path, :class => 'btn' %></center>
<% end %>


<table id="skills" class="datatable display table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
	<td><%= link_to skill.name, skill %></td>
	<td><%= link_to 'Edit', edit_skill_path(skill), :class => 'btn btn-mini btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>