<table id="skills" class="datatable table table-striped table-bordered">
  <caption><h3><%= @page_title %></h3></caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to skill.name, skill %></td>
        <td><%= link_to skill.status, skill %></td>
        <td><%= table_button_link 'Edit', edit_skill_path(skill) if can? :edit, skill %></td>
      </tr>
    <% end %>
  </tbody>
</table>
