<% content_for :sidebar do %>
  <center><h3>Listing Skills</h3></br>
  <%= link_to 'New Skill', new_skill_path, :class => 'btn' if can? :create, Skill %></center>
<% end %>


<table id="skills" class="generic_datatable datatable display table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
      	<td><%= link_to skill.name, skill %></td>
      	<td><%= link_to 'Edit', edit_skill_path(skill), :class => 'btn btn-mini btn-primary' if can? :edit, skill %></td>
      </tr>
    <% end %>
  </tbody>
</table>