<% content_for :sidebar do %>
  <%= sidebar_button_link 'Cancel Edit', :back %>
<% end %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Events', events_path %></li>
  <li class="breadcrumb-item active">Edit Event: <%= @event.title %></li>
</ol>

<%= render 'form' %>
