<% content_for :sidebar do %>
  <h1>Listing Roles</h1>
  <%= link_to 'New Role', new_role_path, class: 'btn btn-default', style: 'width: 100%' unless cannot? :create, Role %>
<% end %>

<table id="roles" class="generic_datatable table table-striped table-bordered" >
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= link_to role.name, role %></td>
        <td><%= link_to 'Edit', edit_role_path(role), class: 'btn btn-xs btn-primary' unless cannot? :update, role %></td>
     </tr>
    <% end %>
  </tbody>
</table>
