# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
<% self.class.include Rails.application.routes.url_helpers %>

jQuery ->
  $('#applicants').dataTable
    "columns": [null,
                  null,
                    null,
                    {"orderable" : false}],

  $('#applicants_wrapper > div.event-table-info > div > div.dataTables_scrollHead > div > table > caption').append('<a role="button" class="add-btn btn" href="<%= new_person_path %>"><p>+</p></a>')
