# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
<% self.class.include Rails.application.routes.url_helpers %>

jQuery ->
  $("#person_firstname").focus();
  $('#people').dataTable
    columnDefs: [
                  ## https://datatables.net/extensions/responsive/priority
                  { responsivePriority: 1, targets: [1, 3, 7] },
                  { visible: false, targets: [0, 2, 4]  },
                  { orderData: 1, targets: 1 }
                  { orderData: 3, targets: 1 }
                  { orderData: 5, targets: 6 }
                  { orderable: false, targets: -1 }
                ]
  # renders new people button within dataTable()
  $('#people_wrapper > div.event-table-info > div > div.dataTables_scrollHead > div > table > caption').append('<a role="button" class="add-btn btn" href="<%= new_person_path %>"><p>+</p></a>')

  $('#person_zipcode').change ->
    code = $(@).val()
    $.get("https://maps.googleapis.com/maps/api/geocode/json?address=" + code + "&key=<%= GOOGLE_MAPS_API_KEY %>", (data) ->
      results = data
      city = data.results[0].address_components[1].long_name
      state = data.results[0].address_components[3].short_name
      $('#person_city').val city
      $('#person_state').val state
      return
    )
