// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body { padding-top: 60px; };

.center-form {
  margin-left:auto;
  margin-right:auto;
  width:400px;
}

@import "bootstrap-responsive";
