table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-left: 10px;
}

td {
  border-left: solid 3px #000;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 3px;
}

td.black { border-color: #000; }
td.white { border-color: #fff; }
