<h1>Listing inspections</h1>

<table id="resource_types" class="generic_datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= table_button_link 'Show', inspection %></td>
        <td><%= table_button_link 'Edit', edit_inspection_path(inspection) %></td>
        <td><%= table_button_link 'Destroy', inspection, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= independent_button_link 'New Inspection', new_inspection_path %>
