<p id="notice"><%= notice %></p>

Inspection on <%= link_to @inspection.item, item_path(@inspection.item) %>
<p>Status: <%= @inspection.status %></p>

<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
