<% content_for :sidebar do %>
  <h1>Editing Availability</h1>
  <%= sidebar_button_link 'Show', @availability.person %>
  <%= sidebar_button_link 'Back', availabilities_path %>
<% end %>

<%= render 'form' %>
