<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <ul class="orgchart_menu">
      <% Department.active.managing_people.order("shortname ASC").each do |dept| %>
        <%= nav_link "#{dept.shortname}", orgchart_departments_path(dept) %>
      <% end %>
    </ul>
    <div class="orgchart">
      <%= yield %>
    </div>
  </body>
</html>