<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title %></title>
    <style type="text/css" media="all">
      body {
        padding: 0;
        margin: 0;
      }
      h1, h2, #thedate{
        text-align: center;
        width: 500pt;
        padding: 0 7pt;
        margin: 7pt 18pt;
      }
      ul {
       position: absolute;
       list-style: none;
      }
      li {
        border: 2pt solid #ccf;
        text-align: center;
        width: 105pt;
        padding: 5pt;
      }

      ul.senior_staff {
        position: absolute;
        top: 70pt;
        left: 160pt;
        margin: 0;
        padding: 0;
      }
      ul.senior_staff > li {
        width: 216pt;
        margin: 7pt 0 0 0;
        border: 4pt solid #868;
        font-weight: bold;
      }
      #chief {
        color:#00f;
        font-size: 125%;
      }
      .divisions {
        position: absolute;
        top: 235pt;
        left: 0pt;
        color: #000;
        /*border: 1pt solid #000;*/
        padding: 2pt;
        width: 555pt;
        height: 580pt;
        margin: 0;
        font-size: 80%;
      }

      .divisions li {
        padding: 5pt;
        margin: 5pt 0 0 0;
        display: block;
      }
      .divisions > ul {
      /*This should only apply to the divisions themselves  */
        width: 270pt;
        margin: 7pt 0 0 0;
        padding: 0;
        text-align: center;
        height: 500pt;
        position: absolute;
        top: 7pt;
        /*border: 1pt solid #888;*/
      }
      .division > li, li.lieutenant {
        width: 130pt;
        margin: 7pt 0 0 62pt;
      }
      li.lieutenantX {
        width: 130pt;
        margin: 5pt 0 0 62pt;
      }
      ul#division1 {
       left: 7pt;
      }

      ul#division2 {
       right: 7pt;
      }

      .squads ul {
        padding: 0;
        margin: 16pt 0;
        top: 75pt;
      }

      ul.squad1 {
        left: 7pt;
      }
      ul.squad2 {
        right: 7pt;
      }
      li.squads {
        border: 0;
      }
      .division_heading,
      .squad_heading {
        font-weight: bold;
        font-size: 115%;
      }

      .chief,
      .deputy,
      .captain,
      .lieutenant,
      .sargeant,
      .corporal,
      .senior,
      .division_heading,
      .squad_heading {
        border: 4px solid #555;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>